---
import { getCollection } from 'astro:content'
import Hero from '../../components/Hero.astro'
import PrimaryLayout from '../../layouts/PrimaryLayout.astro'
import Section from '../../components/Section.astro'

export async function getStaticPaths() {
	const posts = await getCollection('posts')
	return posts.map((entry: any) => ({
		params: { slug: entry.slug },
		props: { entry }
	}))
}

const { entry } = Astro.props
const { Content } = await entry.render()

const datePretty = new Date(entry.data.pubDate).toLocaleDateString('en-US', {
	year: 'numeric',
	month: 'long',
	day: 'numeric'
})
---

<PrimaryLayout frontmatter={entry.data}>
	<Hero imageSrc={entry.data.image} imageAlt={entry.data.imageAlt}>
		<p class='h1'>
			{entry.data.title}
		</p>
		<p>{entry.data.description}</p>
	</Hero>
	<Section>
		<p style='float: left;'>
			<a href='/posts'
				><i class='fa-solid fa-arrow-left'></i> Back to all posts</a
			>
		</p>
		<p style='float: right;'>Published {datePretty}</p>
	</Section>
	<Section>
		<Content />
	</Section>
</PrimaryLayout>
